@charset "utf-8";

@import "../../common/scss/base";
@import "../../widgets/scss/header";
@import "../../widgets/scss/footer";

/*添加artDialog浮层样式*/

@import "../../../js/utils/dialog/dist/ui-dialog";

.gb-sub-nav {
    margin-bottom: 0px;
}

.privilege-index-box {
    .button-nav {
        height: 72px;
        overflow: hidden;
        position: absolute;
        top: 790px;
        margin-left: -545px;
        left: 50%;
        z-index: 9;
    }
    .button-lnav-list {
        width: 360px;
        padding-left: 10px;
        float: left;
        height: 72px;
        z-index: 99;
        li {
            width: 120px;
            float: left;
            height: 72px;
            line-height: 72px;
            text-align: center;
            a {
                color: #888;
                font-size: 18px;
            }
            a:hover {
                color: #fff;
            }
        }
    }
    .button-nav-button {
        width: 355px;
        float: left;
    }
    .button-rnav-list {
        width: 360px;
        float: right;
        height: 72px;
        padding-right: 10px;
        z-index: 99;
        li {
            width: 120px;
            float: left;
            height: 72px;
            line-height: 72px;
            text-align: center;
            a {
                color: #888;
                font-size: 18px;
            }
            a:hover {
                color: #fff;
            }
        }
    }
    .button-nav-bg {
        height: 72px;
        overflow: hidden;
        background: #000;
        position: absolute;
        top: 790px;
        filter: alpha(opacity = 70);
        -moz-opacity: 0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
        width: 1090px;
        margin-left: -545px;
        left: 50%;
        z-index: 8;
    }
    .first-screen {
        width: 100%;
        background: url("../../../images/privilege_index_bg.jpg") no-repeat center -3px;
        height: 796px;
        position: relative;
        margin-top: -36px;
        .crown-icon {
            width: 412px;
            height: 411px;
            left: 50%;
            margin-left: -205px;
            position: absolute;
            top: 120px;
            background: url("../../../images/privilege_king_icon.png") no-repeat;
        }
        .net-acces-icon {
            width: 184px;
            height: 185px;
            left: 50%;
            margin-left: 314px;
            top: 65px;
            position: absolute;
            background: url("../../../images/net_speed_icon.png") no-repeat;
            animation-delay: 1s;
            -webkit-animation-delay: 1s;
        }
        .p1080-icon {
            width: 99px;
            height: 99px;
            left: 50%;
            margin-left: 480px;
            top: 350px;
            position: absolute;
            background: url("../../../images/privilege_1080_icon.png") no-repeat;
            animation-delay: 1.5s;
            -webkit-animation-delay: 1.5s;
        }
        .month-icon {
            width: 104px;
            height: 104px;
            left: 50%;
            margin-left: -376px;
            top: 55px;
            position: absolute;
            background: url("../../../images/privilege_month_icon.png") no-repeat;
            animation-delay: 2s;
            -webkit-animation-delay: 2s;
        }
        .noad-icon {
            width: 110px;
            height: 112px;
            left: 50%;
            margin-left: -292px;
            top: 440px;
            position: absolute;
            background: url("../../../images/privilege_noad_icon.png") no-repeat;
            animation-delay: 2.5s;
            -webkit-animation-delay: 2.5s;
        }
        .coupons-icon {
            width: 185px;
            height: 184px;
            left: 50%;
            margin-left: -565px;
            top: 265px;
            position: absolute;
            background: url("../../../images/privilege_coupons_icon.png") no-repeat;
            animation-delay: 3s;
            -webkit-animation-delay: 3s;
        }
        .net-callback-icon {
            width: 73px;
            height: 74px;
            left: 50%;
            margin-left: 310px;
            top: 308px;
            position: absolute;
            background: url("../../../images/net_callback_icon.png") no-repeat;
            animation-delay: 3.5s;
            -webkit-animation-delay: 3.5s;
        }
        .vipwinks-icon {
            width: 62px;
            height: 62px;
            left: 50%;
            margin-left: 150px;
            top: 40px;
            position: absolute;
            background: url("../../../images/vipwinks_icon.png") no-repeat;
            animation-delay: 4s;
            -webkit-animation-delay: 4s;
        }
        .vipidentity-icon {
            width: 79px;
            height: 79px;
            left: 50%;
            margin-left: -500px;
            top: 565px;
            position: absolute;
            background: url("../../../images/vipidentity_icon.png") no-repeat;
            animation-delay: 4.5s;
            -webkit-animation-delay: 4.5s;
        }
        .half-icon {
            width: 145px;
            height: 145px;
            left: 50%;
            margin-left: 225px;
            top: 530px;
            position: absolute;
            background: url("../../../images/half_icon.png") no-repeat;
            animation-delay: 5s;
            -webkit-animation-delay: 5s;
        }
        .index-txt {
            width: 445px;
            left: 50%;
            margin-left: -222px;
            top: 590px;
            text-align: center;
            color: #9e9e9e;
            font-size: 14px;
            line-height: 24px;
            position: absolute;
        }
    }
    .privilege-part1 {
        background: url("../../../images/privilege_index_part1.jpg") no-repeat center 0;
        height: 750px;
        .privilege-part {
            width: 1190px;
            margin: 0 auto;
            position: relative;
            height: 750px;
            .play-half-icon {
                position: absolute;
                top: 65px;
                left: 345px;
                width: 140px;
                height: 140px;
                display: block;
                background: url("../../../images/play_half_icon.png") no-repeat center 0;
            }
            .film-free-icon {
                position: absolute;
                top: 295px;
                left: 110px;
                width: 208px;
                height: 208px;
                display: block;
                background: url("../../../images/film_free_icon.png") no-repeat center 0;
            }
            .privilege-coupos-icon {
                position: absolute;
                top: 65px;
                left: 770px;
                width: 208px;
                height: 208px;
                display: block;
                background: url("../../../images/privilege_coupos_icon.png") no-repeat center 0;
            }
            .vippgc-icon {
                position: absolute;
                top: 350px;
                left: 968px;
                width: 167px;
                height: 167px;
                display: block;
                background: url("../../../images/vippgc_icon.png") no-repeat center 0;
            }
            .vip-info-txt {
                position: absolute;
                top: 350px;
                left: 750px;
                width: 215px;
                color: #5a5a5a;
                font-size: 14px;
                line-height: 24px;
                a {
                    color: #00a0dd;
                }
            }
        }
    }
    .privilege-part2 {
        background: url("../../../images/privilege_index_part2.jpg") no-repeat center 0;
        height: 540px;
        .privilege-part {
            width: 1190px;
            margin: 0 auto;
            position: relative;
            height: 540px;
            .no-ad-icon {
                position: absolute;
                top: 32px;
                left: 715px;
                width: 208px;
                height: 208px;
                display: block;
                background: url("../../../images/no_ad_icon.png") no-repeat center 0;
            }
            .privilege-p1080-icon {
                position: absolute;
                top: 190px;
                left: 545px;
                width: 141px;
                height: 141px;
                display: block;
                background: url("../../../images/privilege_p1080_icon.png") no-repeat center 0;
            }
            .privilege-net-icon {
                position: absolute;
                top: 135px;
                left: 935px;
                width: 167px;
                height: 167px;
                display: block;
                background: url("../../../images/privilege_net_icon.png") no-repeat center 0;
            }
            .vip-info-txt {
                position: absolute;
                top: 135px;
                left: 300px;
                width: 215px;
                color: #5a5a5a;
                font-size: 14px;
                line-height: 24px;
                a {
                    color: #00a0dd;
                }
            }
        }
    }
    .privilege-part3 {
        background: url("../../../images/privilege_index_part3.jpg") no-repeat center 0;
        height: 569px;
        .privilege-part {
            width: 1190px;
            margin: 0 auto;
            position: relative;
            height: 569px;
            .privilege-redname-icon {
                position: absolute;
                top: 40px;
                left: 560px;
                width: 208px;
                height: 207px;
                display: block;
                background: url("../../../images/privilege_redname_icon.png") no-repeat center 0;
            }
            .privilege-vipwinks-icon {
                position: absolute;
                top: 160px;
                left: 215px;
                width: 169px;
                height: 167px;
                display: block;
                background: url("../../../images/privilege_vipwinks_icon.png") no-repeat center 0;
            }
            .privilege-vipidentity-icon {
                position: absolute;
                top: 20px;
                left: 395px;
                width: 141px;
                height: 141px;
                display: block;
                background: url("../../../images/privilege_vipidentity_icon.png") no-repeat center 0;
            }
            .privilege-levelspeed-icon {
                position: absolute;
                top: 45px;
                left: 80px;
                width: 141px;
                height: 141px;
                display: block;
                background: url("../../../images/privilege_levelspeed_icon.png") no-repeat center 0;
            }
            .vip-info-txt {
                position: absolute;
                top: 425px;
                left: 452px;
                width: 275px;
                color: #5a5a5a;
                font-size: 14px;
                line-height: 24px;
                a {
                    color: #0069a5;
                }
            }
        }
    }
    .privilege-part4 {
        background: url("../../../images/privilege_index_part4.jpg") no-repeat center 0;
        height: 680px;
        .privilege-part {
            width: 1190px;
            margin: 0 auto;
            position: relative;
            height: 680px;
            .privilege-liveInteract-icon {
                position: absolute;
                top: 120px;
                left: 415px;
                width: 209px;
                height: 208px;
                display: block;
                background: url("../../../images/privilege_liveInteract_icon.png") no-repeat center 0;
            }
            .privilege-live-icon {
                position: absolute;
                top: 120px;
                left: 657px;
                width: 209px;
                height: 208px;
                display: block;
                background: url("../../../images/privilege_live_icon.png") no-repeat center 0;
            }
            .privilege-levelsee-icon {
                position: absolute;
                top: 120px;
                left: 910px;
                width: 209px;
                height: 198px;
                display: block;
                background: url("../../../images/privilege_levelsee_icon.png") no-repeat center 0;
            }
            .vip-info-txt {
                position: absolute;
                top: 580px;
                left: 458px;
                width: 280px;
                color: #5a5a5a;
                font-size: 14px;
                line-height: 24px;
                a {
                    color: #00a0dd;
                }
            }
        }
    }
    .privilege-part5 {
        background: url("../../../images/privilege_index_part5.jpg") no-repeat center 0;
        height: 670px;
        position: relative;
        .privilege-part {
            width: 1190px;
            margin: 0 auto;
            position: relative;
            height: 670px;
            .privilege-24-icon {
                position: absolute;
                top: 120px;
                left: 55px;
                width: 168px;
                height: 167px;
                display: block;
                background: url("../../../images/privilege_24_icon.png") no-repeat center 0;
            }
            .privilege-vipReply-icon {
                position: absolute;
                top: 60px;
                left: 470px;
                width: 209px;
                height: 208px;
                display: block;
                background: url("../../../images/privilege_reply_icon.png") no-repeat center 0;
            }
            .privilege-callback-icon {
                position: absolute;
                top: 235px;
                left: 270px;
                width: 144px;
                height: 143px;
                display: block;
                background: url("../../../images/privilege_callback_icon.png") no-repeat center 0;
            }
            .privilege-vipLine-icon {
                position: absolute;
                top: 230px;
                left: 700px;
                width: 144px;
                height: 143px;
                display: block;
                background: url("../../../images/privilege_vipLine_icon.png") no-repeat center 0;
            }
            .vip-info-txt {
                position: absolute;
                top: 445px;
                left: 435px;
                width: 280px;
                color: #5a5a5a;
                font-size: 14px;
                line-height: 24px;
                a {
                    color: #00a0dd;
                }
            }
        }
    }
    .open-vip-link {
        background: url("../../../images/vip_open_icon.png") no-repeat center 0;
        height: 72px;
        width: 355px;
        display: block;
    }
    .open-vip-link:hover {
        background-position: 0 bottom;
    }
    .renew-vip-link {
        background: url("../../../images/vip_renew_icon.png") no-repeat center 0;
        height: 72px;
        width: 355px;
        display: block;
    }
    .renew-vip-link:hover {
        background-position: 0 bottom;
    }
}

.lighten {
    border-radius: 50%;
    /*-webkit-transform: rotateX(-80deg) rotateY(0);
    transform: rotateX(-80deg) rotateY(0);*/
    //box-shadow: 0 0 65px #fff;
    -webkit-animation: nucleus_ 5s infinite linear;
    animation: nucleus_ 5s infinite linear;
}

/*css3*/

@keyframes nucleus_ {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 100px #fbe9a0;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}


@-webkit-keyframes nucleus_ {
    0% {
        box-shadow: 0 0 0 transparent;
    }
    50% {
        box-shadow: 0 0 100px #fbe9a0;
    }
    100% {
        box-shadow: 0 0 0 transparent;
    }
}


.tada {
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
    moz-animation: tada 5s infinite;
    -webkit-animation: tada 5s infinite;
    animation: tada 5s infinite;
}

@-webkit-keyframes tada {
    0% {}
    10%, 20% {
        -webkit-transform: rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: rotate(3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}


@-moz-keyframes tada {
    0% {}
    10%, 20% {
        -moz-transform: rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        -moz-transform: rotate(3deg);
    }
    40%, 60%, 80% {
        -moz-transform: rotate(-3deg);
    }
    100% {
        -moz-transform: rotate(0);
    }
}


@-o-keyframes tada {
    0% {}
    10%, 20% {
        -o-transform: rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        -o-transform: rotate(3deg);
    }
    40%, 60%, 80% {
        -o-transform: rotate(-3deg);
    }
    100% {
        -o-transform: rotate(0);
    }
}


@keyframes tada {
    0% {}
    10%, 20% {
        transform: rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        transform: rotate(3deg);
    }
    40%, 60%, 80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0);
    }
}


.tossing {
    animation-name: tossing;
    -webkit-animation-name: tossing;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(-4deg);
    }
}


@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-4deg);
    }
    50% {
        -webkit-transform: rotate(4deg);
    }
    100% {
        -webkit-transform: rotate(-4deg);
    }
}


.scale {
    visibility: visible !important;
    moz-animation: scale 10s infinite;
    -webkit-animation: scale 10s infinite;
    animation: scale 10s infinite;
    opacity: 0.7;
    transform: scale(0.7);
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
}

/*放大*/

@keyframes scale {
    0% {
        transform: scale(0.7);
        opacity: 0.7;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(0.7);
        opacity: 0.7;
    }
}


@-moz-keyframes scale {
    0% {
        -moz-transform: scale(0.7);
        opacity: 0.7;
    }
    60% {
        -moz-transform: scale(1.1);
        opacity: 1;
    }
    80% {
        -moz-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(0.7);
        opacity: 0.7;
    }
}


@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0.7);
        opacity: 0.7;
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: 1;
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.7);
        opacity: 0.7;
    }
}